html, body {
    height: 100%;
    margin: 0;
    margin-bottom: 10px;
}

.maingrid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background: white;
    box-shadow: 0px 2px 6px 0px #0000006c;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.burger > svg {
    width: 50px !important;
    height: 50px !important;
}

.nav-icon > p {
    margin-left: 10px;
}

.nav-icon > img {
    width: 40px;
    height: 40px;
}

.burger {
    margin-right: 10px;
}

.content {
    flex: 1;    
    display: grid;
    z-index: 1;
}

.trucrouge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #e10512;
    border-radius: 0% 0% 50% 50% / 0% 0% 25% 25%;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    height: 25px;
    font-size: 0.75rem;
}

.reseau{
    margin-left: 10px;
    width: auto;
}

.footer > .icons {
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
}

.footer > .icons > .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 50px;
}

.links > a {
    margin-right: 15px;
}

.separate {
    height: 2px;
    background: #e10512;
    width: 80vw;
    margin: auto;
}

@media screen and (max-width: 500px) {
    .nav-icon > img {
        max-width: 300px;
        max-height: 300px;
    }

    .trucrouge {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        background: #e10512;
    }
    

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        height: 50px;
        font-size: 0.75rem;
        padding-bottom: 10px;
    }
    .container{
        width:500px
    }
}

#txtpanier{
    color: white;
    font-size: 40px;
    font-weight: 800;
}
.placement{
    width:97vw;
    height:60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    width:80%;
    height:90%;
    border: 5px solid #b1000a;
    border-radius: 20px;
    padding-left: 50px;
    box-shadow: 9px 9px 11px 0px rgba(0,0,0,0.59);
}

@media screen and (min-width: 500px) {
    .container1{
        width:500px
    }
}
.liste{
    width:80%;
    height:25%;
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 100px;
    justify-content: space-between;
    color:#b1000a;
    font-weight:700;
    font-size: 20px;
    border-bottom: 5px solid #b1000a;
}

#final-price{
    width: 40px;
    color:#b1000a;
    position: relative; left:53%;
    font-weight:700;
    font-size: 30px;
}
#valider{
    width:60%;
    height:8%;
    background-color: #e10512;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    position: relative; left:25%; top:5%;
}

#continuer{
    width:80%;
    height:8%;
    background-color: #e10512;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    position: relative; left:5%; top:10%;
}
#croix{
    width:30px;
}